<center x-data="emailData">
<form class="search-form shadow" x-on:submit.prevent @keyup.enter="registerEmail">                             
	<input type="search" x-model="email"  name="email"  placeholder="{{ .Get 0 }}">         
<span x-show="!loader" x-on:click="registerEmail" class="inverse bigger icon">{{ partial "svg/arrow-circle-right.svg" }}</span>
<span x-show="loader" class="icon">{{ partial "svg/loader.svg" }}</span>
</form>     
<small x-show="error" class="error message" x-text="errorMessage"></small>
<div x-show="success" class="success message">📥 <strong>Ci sei quasi!</strong> Ti abbiamo mandato una email per <strong>verificare</strong> il tuo indirizzo</div></div>
</center>
               
<script src="/js/pocketbase.umd.js"></script>
<script>         

	const pb = new PocketBase({{ .Site.Params.pocketbase.server }})
	//const pb = new PocketBase("http://127.0.0.1:8090")
	const pbListName = 'emails'
	emailData={      
		email: '',   
		errorMessage: "",
		error: false,
		loader: false,
		success: false,
		async registerEmail(){
			this.email = this.email.trim()
			const pbData = {
				"email": this.email,
				"verified": false,
				"newsletter": true,
				"password": "123456789",
				"passwordConfirm": "123456789"
			}
			this.error = false
					console.log(this.email)
					console.log(this.email.trim())
			if (this.email == '') {
				this.success = false;
				this.error=true
				this.errorMessage = "⚠️  Campo email vuoto?"
				console.log('empty email')
			}
			else {
				this.loader = true;
				try {
					const record = await pb.collection(pbListName).create(pbData);
					console.log(this.email)
				} 
				catch (err) {
					//console.log (err.data.code)
					//console.log (err.data.message)
					//console.log (err.data.data.email.code)
					console.log('Email is already in db?')
				}

				try {
					console.log('Send confirmation email')
					const valida = await pb.collection(pbListName).requestVerification(this.email);
					this.success = true;
					this.email = ""
				}
				catch (err) {
					this.success = false;
					this.error = true
					this.errorMessage = "💀 Ehi! non sembra una email corretta... controlla."
					console.log ('Unable to send confirmation email: bad email format?')
				}
				this.loader = false;
			}
		}
	}
</script>

                                                  
<!-- ////<script type="module">                             -->
<!-- import PocketBase from '/js/pocketbase.es.mjs'     -->
<!-- const pb = new PocketBase("https://pb.realmen.it") -->
<!---->
<!-- const data = { -->
<!-- //"username": "ruvido", -->
<!-- "email": "ruvido@gmail.com", -->
<!-- //"emailVisibility": true, -->
<!-- //"password": "12345678", -->
<!-- //"passwordConfirm": "12345678", -->
<!-- //"name": "ruvido_name" -->
<!-- }; -->
<!-- //await pb.collection('emails').requestVerification('ruvido@gmail.com'); -->
<!---->
<!---->
<!-- ////</script> -->
