{{ define "main" }}
{{ $mp3File := .Params.file }}
{{ $podcastConfig := "/content/podcast/_index.md" }}
{{ $podcastData := readFile $podcastConfig | transform.Unmarshal  }}
{{ $mp3File = print "https://" $podcastData.storage $mp3File }}

<main>    
	<article>
		<h1> {{ .Title }}</h1>
		<p class="details">
			<strong>season</strong> {{ .Params.season }}  
			<strong>number</strong> {{ .Params.number }}
			&nbsp; | &nbsp;
			<a href="{{ $mp3File }}">scarica l'episodio</a>
		</p>
		<p>
			{{ partial "components/spotifyPlayer.html" . }}
		</p>

		{{ with .Content }}
			<hr>
			{{ . | safeHTML}}
		{{end}}

		{{ with .Site.GetPage $podcastConfig }}
		<hr>
		{{.Content | safeHTML}}
		{{end}}

	</article>

</main>                                            
{{ end }}      
