{{ define "main" }}
{{ $mp3File := .Params.file }}
{{ $podcastConfig := "/content/podcast/_index.md" }}
{{ $podcastData := readFile $podcastConfig | transform.Unmarshal  }}
{{ $mp3File = print "https://" $podcastData.storage $mp3File }}

<main>
	<article>
		<h1> {{ .Title }}</h1>
			<hr>
		<p class="details">
			<strong>season</strong> {{ .Params.season }}
			<strong>number</strong> {{ .Params.number }}
			&nbsp; | &nbsp;
			<a href="{{ $mp3File }}">scarica l'episodio</a>
		</p>
		<audio controls src="{{ $mp3File }}"></audio>

		{{ with .Content }}
			{{ . | safeHTML}}
		{{end}}

		{{ with .Site.GetPage $podcastConfig }}
		<hr>
		{{.Content | safeHTML}}
		{{end}}

		<hr>
		<p>Ascolta il podcast anche su:</p>
		<div class="icon-bar">

		{{ with .Site.Params.podcast.deezer }}
		<a href="{{.}}">
			<img src="/icons/podcast/deezer-podcast.png"></a>
		{{ end }}
		{{ with .Site.Params.podcast.spotify}}
		<a href="{{.}}">
			<img src="/icons/podcast/spotify-podcast.png"></a>
		{{ end }}
		{{ with .Site.Params.podcast.apple}}
		<a href="{{.}}">
		<img src="/icons/podcast/apple-podcast.png"></a>
		{{ end }}
		{{ with .Site.Params.podcast.google}}
		<a href="{{.}}">
		<img src="/icons/podcast/google-podcast.png"></a>
		{{ end }}
		</div>
	</article>

</main>
{{ end }}
