{{ define "main" }}
<main>
	<article>
		{{ if and (ne .Params.notitle true) (.Title) }}
		<h1>{{ .Title | safeHTML }}</h1>
		{{ end }}

		<div>
			{{ with .Date}}
			<small>Pubblicato il <strong>{{ .Format "02.01.2006" }}</strong>
			</small>
			{{end}}

			{{ with .Params.author}}
			<small>da <strong>{{ . }}</strong></small>
			{{end}}
		</div>
		{{ with .Params.tags }}
		<div>
			<ul id="tags">
				{{ range . }}
				<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
				{{ end }}
			</ul>
		</div>
		{{ end }}

		<div>
			{{ .Content | safeHTML }} 
		</div>
	</article>
</main>
{{ end }}
