hr {
  margin: 12px 0;    
  border: 0;
  text-align: center;
}  
hr:before {
    content: "\2022 \2022 \2022";
    font-size: 1rem;
    color: var(--inverse);   
}
.highlight{
    position: relative;
    box-shadow:inset 0px -20.0px 0 var(--primary-very-light);
}
blockquote{
    margin: var(--base-padding) auto;
	margin-bottom: var(--double-padding);
    font-size: 2rem;
    font-family: var(--hero-font);
    font-style: italic;
	transform: rotate(-7deg);
	max-width: 200px;
}
blockquote p {
    padding: 1rem;    
}
.nowrap {              
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.details {
	font-size: 70%;
	text-transform: uppercase;
}

table {
border: 14px solid white; padding-left: 10px;}

/* article img:first-child { */
/* 	position: relative; */
/* 	left: -1rem; */
/* } */
.icon-bar img{
	max-width: 36px;
}
