hr {
  margin: 12px 0;    
  border: 0;
  text-align: center;
}  
hr:before {
    content: "\2022 \2022 \2022";
    font-size: 1rem;
    color: var(--inverse);   
}
.highlight{
    position: relative;
    box-shadow:inset 0px -20.0px 0 var(--primary-very-light);
}
blockquote{
    margin: var(--base-padding) auto;
	margin-bottom: var(--double-padding);
    font-size: 2rem;
    font-family: var(--hero-font);
    font-style: italic;
	transform: rotate(-7deg);
	max-width: 200px;
}
blockquote p {
    padding: 1rem;    
}
ul.playlist {
    margin-bottom: 2rem;
    list-style: none;
    padding:0;
}
ul.playlist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.playlist li .title {
	font-weight: 900;
    max-width: 80%;
    padding: 0 0.6rem;
}
ul.playlist li .compact.number {
    font-size: 100%;
}
ul.playlist li .number {
	flex-shrink: 0;
    margin: 0 0.0rem;
    padding: 0 0.6rem;
    font-size: 150%;
    font-family: var(--hero-font);
}
.standout {            
    margin: 0 auto;
    border-radius: 10px;
    border: solid 4px var(--inverse);
    margin-bottom: 0.4em;
    padding: 0.5em 1.0em;
}         
.nowrap {              
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
