html, body {height:100%;}
body   {display: flex; flex-direction: column;}
header {}
nav {display:flex; justify-content: space-between; align-items: center;}
main   {flex:1 0 auto;}
footer {flex-shrink: 0;}
