/* List spacing - reduce to avoid double spacing with p */
ul {padding-top: 0.625rem;}
ol {padding-top: 0.625rem;}

li ul {padding: 0; margin: 0.2rem 2rem; font-size: 100%;}

article ul li {padding-top: 0.25rem; padding-right: 18px;}

ul.playlist {
    margin-bottom: 2rem;
    list-style: none;
    padding:0;
}
ul.playlist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.playlist li .title {
	font-weight: 900;
    max-width: 80%;
    padding: 0 0.6rem;
}
ul.playlist li .compact.number {
    font-size: 100%;
}
ul.playlist li .number {
	flex-shrink: 0;
    margin: 0 0.0rem;
    padding: 0 0.6rem;
    font-size: 150%;
    font-family: var(--hero-font);
	font-weight: 100;
}

.pay{margin-top: var(--base-padding);}
.pay a.standout, .standout {            
    margin: 0 auto;
    margin-right:10px;
    border-radius: 10px;
    border: solid 4px var(--inverse);
    margin-bottom: var(--half-padding);
    padding: 0.5em 1.0em;
}         
.pay a.inverse {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: rgba(255, 255, 255, 0.6);
    /*color:var(--primary);*/
}
