header {
	padding: var(--base-padding);
}
nav{}
main {
	margin: 0 auto;
	width: 100%;
	max-width: 768px;
	margin-bottom: 2rem;
}
section, article {padding: 0 var(--base-padding);}
footer {
	padding: var(--double-padding);
	padding-bottom: var(--base-padding);
}
footer section {padding: 0;}
menu {margin: var(--base-padding) 0;}
menu li {margin: var(--half-padding) 0; }
p {
	margin: var(--base-padding) auto;
}
