:root{
	--quarter-font-size: 4px;
	--half-font-size:    8px;
	--base-font-size:    16px;
	--double-font-size:  32px;
	--fourtimes-font-size:  64px;

	--half-padding:  var(--half-font-size);
	--base-padding: var(--base-font-size);
	--double-padding: var(--double-font-size);

	--line-height: 1.4;

}
html,body {margin: 0;}
h1,h2,h3,h4,h5,h6{margin:0;}
article,p,ul{margin:0}

menu,nav{margin: var(--half-padding) 0; padding:0; list-style: none}
a {text-decoration: underline dotted red; color: inherit; font-weight: bold;}
body{font-size: var(--base-font-size);}

/* stop iOS styling inputs */
input.text,
input[type="search"],
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
background: inherit;
}
