:root{
	--base-icon-size:   var(--double-font-size);
}
svg {
	height: 50%;
	min-width: var(--base-icon-size);
}
.inverse svg {fill: var(--primary);}
.white   svg {fill: var(--primary-very-light);}
.icon{
	height: calc(var(--base-icon-size)); 
	width:  calc(var(--base-icon-size));
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: solid 4px var(--inverse);
}
.icon.inverse{background-color:var(--primary);}
.bigger svg {
	height: 100%;
}

header nav svg {
	width: 24px;
	height: 24px;
	min-width: 24px;
}
