<footer>
		<h3><i>
				<a href="/">{{site.Data.setup.title}}</a></i></h3>
		<div class="double-space">&nbsp;</div>

	<section>
		{{ $data := newScratch }}
		{{ $data.Set "essential" .Site.Taxonomies.categories.essential }}
		{{ $data.Set "footer" .Site.Taxonomies.categories.footer}}

		{{ $arguments := slice "essential" "footer" }}
		{{ range $arguments }} 

		<menu>
		{{ range $data.Get . }}
			<li><a href="{{.RelPermalink}}">{{ .Title }}</a></li>
		{{ end }}
		</menu>
		{{ end }}
	</section>

		{{ partial "components/copyleft.html" . }}

</footer>
