{{ $archivePage := or (site.GetPage "section" "archivio") (site.GetPage "page" "archivio") }}
{{ $isArchive := or (eq .Section "archivio") (eq .Type "archive") }}
<header{{ if $isArchive }} class="container"{{ end }}>
	{{ $actionHref := cond $archivePage $archivePage.RelPermalink "/" }}
	{{ $actionLabel := "Apri archivio" }}
	{{ $actionIcon := "icons/search.html" }}

	{{ if $isArchive }}
		{{ $actionHref = site.Home.RelPermalink }}
		{{ $actionLabel = "Chiudi archivio" }}
		{{ $actionIcon = "icons/x.html" }}
	{{ end }}

	<nav>
		<ul>
			<li><a href="/">
				<span class="verybig-text hero-text">{{ .Site.Title }}</span>
			</a></li>
		</ul>
		<ul>
			<li><a href="{{ $actionHref }}" aria-label="{{ $actionLabel }}">
				{{ partial $actionIcon }}
			</a></li>
		</ul>
	</nav>
</header>
